{% extends 'base.html.twig' %}

{% block title %}Crear tarea{% endblock %}
    

{% block body %}

    {% if edit is defined %}
        Editar Tarea
    {% else %}
        Crear Tarea
    {% endif %}

<div class="example-wrapper">
    <h2> 
        {% if edit is defined %}
            Editar Tarea
        {% else %}
            Crear Tarea
        {% endif %}
    </h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

</div>
{% endblock %}
